@model IEnumerable<WebsiteBanHang.Models.ShoppingCartItem>
@using WebsiteBanHang.Common

<table class="table">
    <tr class="text-center">
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>STT</th>
        <th>Tên sản phẩm</th>
        <th>Ảnh sản phẩm</th>
        <th>Danh mục</th>
        <th>Giá</th>
        @*<th style="width:90px">Số lượng</th>
        <th>Thành tiền</th>*@
        <th></th>
        <th></th>
    </tr>
    @if (Model != null && Model.Any())
    {
        var i = 0;
        var tongtien = decimal.Zero;
        foreach (var item in Model)
        {
            tongtien += item.TotalPrice;
            <tr class="text-center" id="trow_@item.ProductId">
                <td></td>
                <td></td>
                <td></td>
                <td>@(i + 1)</td>
                <td><img src="@item.ProductImg" width="60"></td>
                <td>
                    <a href="/chi-tiet/@item.Alias-p@(item.ProductId)">
                        @item.ProductName
                    </a>
                </td>
                <td>@item.CategoryName</td>
                <td>@Common.FormatNumber(item.Price, 0)</td>
                @*<td><input style="width:60px" type="number" class="form-control" id="Quantity_@item.ProductId" value="@item.Quantity"/></td>*@
                @*<th>@Common.FormatNumber(item.TotalPrice, 2)</th>*@
                <td>
                    <a href="#" class="btn btn-sm btn-danger btnDelete" data-id="@item.ProductId">Xóa</a>
                    @*<a href="#" class="btn btn-sm btn-success btnUpdate" data-id="@item.ProductId">Cập nhật</a>*@
                </td>
                <td></td>
                <td></td>
            </tr>
            i++;
        }
        <tr class="text-right">
            <th></th>
            <th colspan="6" class="text-right"> Tổng hóa đơn:</th>
            <th class="text-center">@Common.FormatNumber(tongtien, 0)</th>
            <th></th>
            <th></th>
        </tr>
        
    }
    else
    {
        <tr>
            <th colspan="10" class="text-center">Không có sản phẩm nào trong giỏ hàng, hãy quay lại trang <a href="/san-pham">sản phẩm</a> và tiếp tục mua hàng nhé <i class="fa fa-heart" style="color: crimson"></i></th>
        </tr>
    }
</table>

